/*BODY*/

body{
    background-color: #DFE3F0;
}

/* GERAL */

*{
    font-family: "Roboto Medium", sans-serif;
}


/* NAVBAR */

#navbar{
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 65px;
}

#navLogo{
    width: 100px; 
    height: 65px;
    margin: 0 0 0 100px;
}


/* LOGIN */ 

#login {
  display: flex;                  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(#4FB4A2, #42A373);
  padding: 10px; 
  color: #4E6074;
  margin: 20px;
  width: 400px;
  height: 500px;
}

#login h1 {
  text-align: center;
  color: #344253;
  font-size: 50px;
  margin: 0;
}

.containerInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.inputIcon {
  position: relative; 
  width: 100%;
}

.inputIcon input {
    width: 100%;
    padding: 12px 12px 12px 40px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  pointer-events: none;
}

/*CADASTRO*/ 

#cadastro{
    display: flex;                  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border: none;
    color: #4E6074;
}

/* IMAGEM LOGIN */

#imgLogin{
    display: flex;
    align-items: column;
    justify-content: center;
    max-width: 30%;
    max-height: 30%;
    margin-top: 30px;
}

/* INPUTS */

.containerInput{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 150px;
    height: 150px;
}

input{
    border-radius: 5px;
    height: 30px;
    outline: 0; 
    border: 1px
}

/*BOTÃO*/

#entrar{
    background: none;
    color: #ffffff;
    height: 28px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    border: 1px solid #ffffff;
}

#cadastre-se{
    background: none;
    color: #28DC84;
    height: 28px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    border: 1px solid #28DC84;
}

