@font-face {
	font-family: 'poppins', sans-serif;
	font-weight: 500;
	font-style: normal;
    src: url('path/to/poppins-medium.woff2') format('woff2'),
		url('path/to/poppins-medium.woff') format('woff');
}

/* GERAL */

* {
	font-family: 'poppins', sans-serif;
}

/*BODY*/

body {
	background-color: #f0f4f8;
	margin: 0;
	padding: 0;
	height: 100vh;
  	overflow: hidden;
}

/*CONTAINER PRINCIPAL*/

#container {
	display: flex;
	flex-direction: row;
	position: relative;
	height: calc(100vh - 65px);
	/* min-height: 90vh;
	max-height: max-content; */
	min-width: 90px;
	justify-content: flex-start;
	align-items: center;
}

/* NAVBAR */

#navbar {
	background-color: #ffff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 65px;
}

#navLogo {
	width: 100px;
	height: 65px;
	margin: 0 0 0 100px;
}

/*LADO ESQUERDO* --> Do cadastro*/

#left {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 400px;
	background: none;
	gap: 20px;
}

/* CADASTRO */

#cadastro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border: none;
	border-radius: 8px;
	background: linear-gradient(#4fb4a2, #42a373);
	padding: 30px;
	color: #4e6074;
	/* margin-bottom: 20px; */
	margin: 20px;
	width: 100%;
	max-width: 450px;
	min-height: 420px;
	font-size: 18px;
}

#cadastro h1 {
	color: #344253;
	font-size: 65px;
	margin: 0 0 0 5px;
}

#label {
	font-size: 100px;
}

/* LADO DIREITO * --> Da imagem*/

#right {
	flex: 1;
	display: flex;
	justify-content: center;
	/* flex-direction: column; */
	align-items: center;
	width: 100%;
	min-height: 400px;
	padding: 40px;
	padding-left: 20px; /* ajusta espaçamento interno */
	gap: 20px;
}

#imgLogin {
	max-width: 100%;
	max-height: 100%;
	width: 600px;
	height: auto;
	position: relative;
	left: -140px;
	/* transform: translateX(-140px);  */
	/*Move a imagem para a esquerda*/
}

/*INPUTS*/

.containerInput {
	max-width: 300px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2px;
}

.inputIcon {
	position: relative;
	width: 100%;
	max-width: 300px;
	display: flex;
	justify-content: center;
}

.inputIcon input {
	width: 300px;
	padding: 20px 20px 16px 45px;
	border: none;
	border-radius: 8px;
	font-size: 16px;
	box-sizing: border-box;
}

.placeholder {
	display: flex;
	justify-items: flex-start;
}

.icon {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	pointer-events: auto;
}

#alternarSenha,
#alternarSenhaConf {
	cursor: pointer;
}

input {
	justify-content: center;
	border-radius: 8px;
	height: 30px;
	/* padding: 10px; */
	outline: 0;
	border: 1px;
}

input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
input[type='number'] {
	-moz-appearance: textfield;
	appearance: textfield;
}

/*LOGIN*/

#login {
	position: absolute;
	right: 80px;
	bottom: 30px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	font-size: 20px;
	font-weight: bold;
	justify-content: center;
	/* gap: 10px;*/
	border: none;
	color: #4e6074;
}

p {
	/*estilização pro p*/
	margin: 10px 10px 10px 0px;
}

/*BOTÃO*/

#cadastrar {
	background: none;
	color: #ffffff;
	font-weight: bold;
	font-size: 22px;
	height: 35px;
	width: 130px;
	border-radius: 8px;
	/* padding: 10px; */
	border: 1px solid #ffffff;
	cursor: pointer;
	margin-top: 20px;
}

#facaLogin {
	background: none;
	color: #28dc84;
	font-weight: bold;
	font-size: 25px;
	height: 35px;
	width: 180px;
	border-radius: 8px;
	/* border: none; */
	/* padding: 5px; */
	border: 2px solid #28dc84;
	cursor: pointer;
}
