/* GERAL */

* {
  font-family: "Roboto Medium", sans-serif;
}

/*BODY*/

body {
  background-color: #dfe3f0;
  margin: 0;
  padding: 0;
}

/*CONTAINER PRINCIPAL*/

#container {
  display: flex;
  flex-direction: row;
  /* min-height: 100vh; */
  position: relative;
}

/* NAVBAR */

#navbar {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 65px;
}

#navLogo {
  width: 100px;
  height: 65px;
  margin: 0 0 0 100px;
}

/* LADO DIREITO * --> Da imagem*/

#right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

#imgLogin {
  max-width: 100%;
  max-height: 100%;
  width: 600px;
  height: auto;
  transform: translateX(-140px); /*Move a imagem para a esquerda*/
}

/*LADO ESQUERDO* --> Do cadastro*/

#left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 400px;
  background: none;
  gap: 20px;
}

/* CADASTRO */

#cadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(#4fb4a2, #42a373);
  padding: 40px;
  color: #4e6074;
  /* margin-bottom: 20px; */
  margin: 20px;
  width: 100%;
  max-width: 500px;
  min-height: 450px;
  font-size: 18px;
}

#cadastro h1 {
  color: #344253;
  font-size: 65px;
  margin: 0 0 0 5px;
}

#label {
  font-size: 100px;
}

/*INPUTS*/

.containerInput {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.inputIcon {
  position: relative;
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
}

.inputIcon input {
  width: 300px;
  padding: 12px 16px 12px 40px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
}

.placeholder {
  display: flex;
  justify-items: flex-start;
}

.icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

input {
  justify-content: center;
  border-radius: 8px;
  height: 30px;
  /* padding: 10px; */
  outline: 0;
  border: 1px;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/*LOGIN*/

#login {
  position: absolute;
  right: 80px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  /* gap: 10px;*/
  border: none;
  color: #4e6074;
}

p {
  /*estilização pro p*/
  margin: 10px 10px 10px 0px;
}

/*BOTÃO*/

#cadastrar {
  background: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
  height: 35px;
  width: 130px;
  border-radius: 8px;
  /* padding: 10px; */
  border: 1px solid #ffffff;
  cursor: pointer;
  margin-top: 20px;
}

#facaLogin {
  background: none;
  color: #28dc84;
  font-weight: bold;
  font-size: 25px;
  height: 35px;
  width: 180px;
  border-radius: 8px;
  /* border: none; */
  /* padding: 5px; */
  border: 2px solid #28dc84;
  cursor: pointer;
}
