@font-face {
	font-family: 'poppins', sans-serif;
	font-weight: 500;
	font-style: normal;
	src: url('path/to/poppins-medium.woff2') format('woff2'),
		url('path/to/poppins-medium.woff') format('woff');
}

* {
	text-decoration: none;
	font-family: 'poppins', sans-serif;
	outline: none;
}

body {
	background: #f0f4f8;
	margin: 0;
	padding: 0;
}

header {
	background: #fff;
	text-align: center;
	padding: 24px 0 8px 0;
	font-size: 2rem;
	letter-spacing: 2px;
}

.logo-voltar {
	display: flex;
	align-items: center;
	gap: 16px;
	margin: 24px 0 0 32px;
}

.logo {
	height: 40px;
}

/* PRINCIPAL */

#principal {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 84vh;
	flex-direction: column;
}

.alertas-container {
	background: #fff;
	padding: 28px;
	width: 90%;
	min-height: 80%;
	border-radius: 16px;
	max-width: 100%;
	box-shadow: 0 2px 8px #0001;
}
.abas {
	width: 92%;
	display: flex;
	gap: 8px;
}

.aba {
	background: #f9fafb;
	border: none;
	border-radius: 12px 12px 0 0;
	padding: 12px 32px;
	font-size: 1.1rem;
	cursor: pointer;
	color: #4e6074;
	font-weight: 600;
	transition: background 0.2s, color 0.2s;
}

.aba.ativa {
	background: #fff;
	color: #344253;
	box-shadow: 0 2px 8px #0001;
}

.cards-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 12px;
	min-height: 150px;
	margin-top: 12px;
}

.card {
	background: #f0f4f8;
	border-radius: 12px;
	box-shadow: 0 1px 4px #0001;
	padding: 16px;
	display: flex;
	flex-direction: row;
	gap: 8px;
	position: relative;
	border: 1px solid #e2ebf3;
	color: #344253;
	align-items: center;
	justify-content: space-around;
}

.card img {
	width: 90px;
	height: 110px;
	object-fit: contain;
	border-radius: 8px;
	margin-bottom: 8px;
}
.card .nome {
	font-weight: 700;
	font-size: 1.1rem;
	color: #344253;
}

.card .quantidade,
.card .data {
	font-size: 0.98rem;
	color: #344253;
}

.card:has(input[type='checkbox']:checked) {
	background-color: rgb(171, 211, 189);
	border: 1px solid #4bb87f;
}

.card:has(input[type='checkbox']:checked) .nome,
.card:has(input[type='checkbox']:checked) .quantidade,
.card:has(input[type='checkbox']:checked) .data {
	color: #fff;
}

.checkbox {
	top: 12px;
	right: 12px;
	width: 24px;
	height: 24px;
	accent-color: #389b6d;
	cursor: pointer;
}

#footer-alert {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 1000px;
	left: 25px;
	background-color: white;
	z-index: 10;
}

.bnt-footer {
	justify-content: center;
	width: 0px;
	height: 30px;
	background: linear-gradient(to right, #68c899, #489d73);
	color: rgb(0, 0, 0);
	border: none;
	padding: 8px 16px;
	margin: 0;
	border-radius: 20px;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	gap: 8px;
}

.btn-footer-img {
	width: 15px;
	height: 15px;
}

.paginacao {
	display: flex;
	align-items: center;
	gap: 12px;
	margin: 18px 0 0 0;
}
.paginacao button {
	border: none;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	font-size: 1.2rem;
	cursor: pointer;
	color: #4ecb71;
	font-weight: bold;
}

#pagina-info {
	color: #344253;
}

.rodape {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 18px;
	color: #344253;
}
.btn-excluir {
	background: #e75544;
	color: #fff;
	border: none;
	border-radius: 25px;
	padding: 10px 32px;
	font-size: 1rem;
	cursor: pointer;
	font-weight: 600;
}
@media (max-width: 900px) {
	.cards-container {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 600px) {
	.cards-container {
		grid-template-columns: 1fr;
	}
	.alertas-container {
		padding: 8px;
	}
}
#navbar {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 65px;
}

#navbar-left {
	display: flex;
	align-items: center;
}

#navbar-right {
	display: flex;
	align-items: center;
	margin: 0 100px 0 0;
}

#conta-cadastrada {
	color: #4e6074;
	font-size: 18px;
	margin: 0;
}

#boxContaCadastrada {
	gap: 10px;
}

#boxContaCadastrada,
#boxConfigEtiq {
	height: 65px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 10px;
}

#boxContaCadastrada:hover,
#boxConfigEtiq:hover {
	background-color: #eaecf0;
	cursor: pointer;
}

#nav-logo {
	width: 100px;
	height: 65px;
	margin: 0 0 0 100px;
}

.nav-icon {
	width: 30px;
	height: 30px;
}

#barraNavTelas {
	width: 98%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 10px 20px 10px 20px;
}

.btn-proximo {
	background: linear-gradient(to right, #68c899, #489d73);
	color: #fff;
	border: none;
	border-radius: 25px;
	font-size: 16px;
	cursor: pointer;
	transition: background 0.2s;
	width: 120px;
	height: 35px;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #f0f4f8;
	gap: 10px;
	padding: 0 15px 0 15px;
}

.btn-voltar {
	padding: 0 10px 0 10px;
	background: linear-gradient(to right, #68c899, #489d73);
	color: #fff;
	border: none;
	border-radius: 25px;
	font-size: 16px;
	cursor: pointer;
	transition: background 0.2s;
	width: 110px;
	height: 35px;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #f0f4f8;
	gap: 10px;
}

.botaoNavIcon {
	width: 25px;
	height: 25px;
}

.btn-voltar:hover,
.btn-proximo:hover {
	background: linear-gradient(to right, #68c899, #489d73);
}
