@font-face {
	font-family: 'poppins', sans-serif;
	font-weight: 500;
	font-style: normal;
	src: url('path/to/poppins-medium.woff2') format('woff2'),
		url('path/to/poppins-medium.woff') format('woff');
}

* {
	font-family: 'poppins', sans-serif;
	outline: none;
	text-decoration: none;
}

/* NAVBAR */

#navbar {
	background-color: #ffff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 65px;
}

#navbar-left {
	display: flex;
	align-items: center;
}

#navbar-right {
	display: flex;
	align-items: center;
	gap: 15px;
	margin: 0 100px 0 0;
}

#conta-cadastrada {
	color: #4e6074;
	font-size: 18px;
	margin: 0;
}

#nav-logo {
	width: 100px;
	height: 65px;
	margin: 0 0 0 100px;
}

.nav-icon {
	width: 30px;
	height: 30px;
}

/*NAV buttons*/

.navigation-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: #f0f4f8;
	position: sticky;
	top: 0;
	z-index: 10;
}

.navigation-buttons .btn {
	padding: 8px 16px;
	background: linear-gradient(to right, #68c899, #489d73);
	color: #fff;
	border: none;
	border-radius: 30px;
	font-size: 16px;
	/* font-weight: 500; */
	cursor: pointer;
	transition: background 0.2s;
	min-width: 120px;
	height: 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navigation-buttons .btn:hover {
	background: linear-gradient(to right, #68c899, #489d73);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f0f4f8;
	color: #344253;
}

header {
	background-color: #fbfbfb;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
}

header .logo {
	font-weight: bold;
	font-size: 1.5em;
}

/* ICON */

#PrimeiraFileira,
#SegundaFileira {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	justify-content: flex-start;
	margin-bottom: 10px;
}

.boxTagIcones {
	display: flex;
	align-items: center;
	gap: 8px;
	min-width: 130px;
	/*background-color: #fff;*/
	padding: 6px 10px;
	border-radius: 8px;
	/*box-shadow: 0 1px 3px rgba(0,0,0,0.05);*/
}

.Texto_icon {
	width: 100%;
	display: flex;
}

/*container */

.container {
	background-color: white;
	border-radius: 20px;
	padding: 16px 20px;
	margin: 20px auto;
	margin-top: 0;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
	max-width: 95%;
	overflow-x: auto;
	transition: all 0.3s ease-in-out;
	min-height: 780px;
}

.iconTamanho {
	width: 20px;
	height: 20px;
}

.btn {
	background-color: linear-gradient(right, #68c899, #489d73);
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 20px;
	cursor: pointer;
	font-weight: bold;
	display: flex;
	align-items: center;
	gap: 5px;
}

h2 {
	font-size: 1.5em;
	margin-bottom: 15px;
	color: #344253;
}

.top-bar {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.container_icon {
	width: 70%;
}

/* Container do filtro */
.filter {
	display: flex;
	align-items: center;
	gap: 8px;
	background-color: white;
	padding: 8px 10px;
	border-radius: 10px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

/* Botão com ícone */
.botao-filtrar {
	background-color: #489d73;
	color: white;
	border: none;
	border-radius: 6px;
	padding: 8px 10px;
	display: flex;
	align-items: center;
	gap: 6px;
	font-weight: 500;
	cursor: pointer;
}

/* Estilo FILTER */
.botao-filtrar label {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 6px;
}

#filter {
	border: 2px solid #489d73;
	border-radius: 6px;
	padding: 8px 10px;
	font-weight: 500;
	background-color: white;
	color: #489d73;
	cursor: pointer;
}

#filter:focus {
	outline: none;
	border-color: #489d73;
}

/* SVG no botão */
.botao-filtrar svg {
	fill: white;
}

/*CONTAINER TABLE*/

img.icons-tabela{
    width: 25px;
	height: 25px;
}

select {
	padding: 8px 12px;
	border-radius: 8px;
	border: 1px solid #ccc;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-radius: 10px;
	overflow: hidden;
}

thead tr td {
	background-color: #f2f4f6;
	padding: 12px 15px;
	color: #344253;
}

thead th {
	text-align: left;
	padding: 12px 15px;
	font-weight: bold;
}

tbody td {
	padding: 10px 15px;
	border-bottom: 1px solid #e0e0e0;
}

tbody tr:nth-child(even) {
	background-color: #f9fafb;
}

.tag {
	display: inline-block;
	padding: 4px 8px;
	border-radius: 6px;
	background-color: #e6f4ec;
	color: #3ecf8e;
	font-size: 0.9em;
	font-weight: bold;
}

/*PAGINAÇÃO */

.footer {
	margin-top: 15px;
	font-size: 0.9em;
	color: #4e6074;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 1000px;
	left: 25px;
	z-index: 10;
}

#footer-geral {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: white;
	position: sticky;
	bottom: 0;
	z-index: 10;
	flex-wrap: wrap;
	gap: 10px;
}

.pagination {
	display: flex;
	align-items: center;
	gap: 10px; /* espaço mínimo entre os elementos */
	justify-content: center;
}

.bnt-footer {
	justify-content: center;
	width: 0px;
	height: 30px;
	background: linear-gradient(to right, #68c899, #489d73);
	color: rgb(0, 0, 0);
	border: none;
	padding: 8px 16px;
	margin: 0;
	border-radius: 20px;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	gap: 8px;
}

.footer button img {
	width: 15px;
	height: 15px;
}

.btn-footer-img img {
	width: 15px;
	height: 20px;
	margin: 0;
	padding: 0;
	object-fit: contain;
	display: block;
}

.pag-footer {
	text-align: center;
}

#footer-pag-info {
	display: flex;
	padding: 0;
	color: #344253;
}

#footer-pag-atual {
	margin: 0 5px 0 5px;
}

#footer-pag-total {
	margin: 0 5px 0 5px;
}

#footer-acoes-info {
	display: flex;
	color: #344253;
}

#footer-qtd-produtos {
	margin: 0 5px 0 5px;
	padding: 0;
}

#footer-total-produtos {
	margin: 0 5px 0 5px;
	padding: 0;
}
