@font-face {
    font-family: 'Roboto Medium';
    src: url('../../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    font-family: "Roboto Medium", sans-serif;
}

body{
    background-color: #DFE3F0;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    font-family: sans-serif;
}

/* NAVBAR */

#navbar{
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 65px;
}

#navbar-left{
    display: flex;
    align-items: center;
}

#navbar-right{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0 100px 0 0;
}

#conta-cadastrada{
    color: #4E6074;
    font-size: 20px;
    margin: 0;
}

#nav-logo{
    width: 100px;
    height: 65px;
    margin: 0 0 0 100px;
}

.nav-icon{
    width: 40px;
    height: 40px;
}

/* BARRA DE NAVEGAÇÃO ENTRE TELAS (VOLTAR/PROXIMO) */

#barraNavTelas{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.botaoNavTelas{
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F5F5F5;
    border: none;
    background: linear-gradient(to right, #68C899, #489D73);
    border-radius: 25px;
    font-family: "Roboto Medium", sans-serif;
    font-size: 18px;
    gap: 5px;
    cursor: pointer;
}

.botaoNavIcon{
    width: 30px;
    height: 30px;
}

/* CONTEUDO */

#containerMain{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/*CONTAINER ESQUERDA*/

#containerLeft{
    width: 40%;
    height: 70vh;
    background-color: #CFD3DE;
    border-radius: 20px;
}

#etiqButtonsEdit{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

#etiqBoxPreview{
    width: 100%;
    display: flex;
}

.etiquetaPreview{
    width: 450px;
    height: 200px;
}

#containerPreviewEtiq{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#etiqBoxPreview{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tamanhoEtiqueta{
    margin: 0;
}

#containerExpandPreview{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

#etiqExpandPreview{
    width: 14%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.iconExpand{
    width: 30px;
    height: 30px;
}


/* CONTAINER DIREITA ( CONFIGURAÇÕES DA ETIQUETA ) */

#containerRight{
    width: 40%;
    height: 70vh;
    background-color: #CFD3DE;
    border-radius: 8px;
}


#inputTamEtiq{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}

.inputTamEtiq{
    width: 60px;
    height: 15px;
}

.textEtiq{
    margin: 0;
}


.ContainerCheckBox{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Botões da configuração (Template / Imprimir )*/

#etiqContainerEsquerda{
    width: 28%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#etiqBtnConfig{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.btnConfig1{
    width: 140px;
    display: flex;
    justify-content: space-between;
    border: 2px solid #449B70;
    border-radius: 10px;
    background-color: transparent;
    align-items: center;
    cursor: pointer;
}

.btnConfig2{
    width: 40px;
    display: flex;
    justify-content: space-between;
    border: 2px solid #449B70;
    border-radius: 10px;
    background-color: transparent;
    align-items: center;
    cursor: pointer;
}

.btnConfig3{
    width: 100px;
    display: flex;
    justify-content: space-between;
    border: 2px solid #449B70;
    border-radius: 10px;
    background-color: transparent;
    align-items: center;
    cursor: pointer;
}

.iconConfig{
    width: 22px;
    height: 22px;
}

input[type="checkbox"]{
    accent-color: #449B70;
    outline: none;
}